= render 'partials/navbar', modifier: '', user_signed_in: user_signed_in?

%section.intro
  %div
    %h1.claim
      = 'Life is more than a simple to-do list.'
    .slogan
      != 'Get your dreams done with <b>Wunschconcert</b>.'
    %a.button.success{ href: new_user_registration_path }
      = 'Join Wunschconcert'
