%section.intro
  .intro__body
    %h2.intro__claim
      = 'Life is not just a simple to do list.'
    .intro__slogan
      != 'Get your dreams done with <b>Wunschconcert</b>.'
    %a.button.intro__button{ href: '/users/sign_in' }
      = 'Join Wunschconcert'
