%section.intro
  .intro__body
    %h2.intro__claim
      = 'Life is more than a simple to do list.'
    .intro__slogan
      != 'Get your dreams done with <b>Wunschconcert</b>.'
    %a.button.intro__button{ href: new_user_registration_path }
      = 'Join Wunschconcert'
