// --- achievement

.achievements {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: $base-gap*2;
    padding-bottom: $base-gap*2;
    border-bottom: .1rem solid #d2d2d2;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.achievement {
  display: flex;
  justify-content: space-between;

  .hashtag {
    margin-top: $base-gap;
  }

  .photo {
    width: 20rem;
    height: 20rem;
  }
}
