// --- intro

.intro {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 2.8125rem);
  color: $color--white;
  background: url('bg-intro.jpg') 50% 50% no-repeat;
  background-size: cover;
  text-align: center;

  .claim,
  .slogan {
    text-shadow: 0 .3rem 1rem rgba($color--black, .5);
  }

  .claim {
    margin: 0;
    color: $color--white;
    font-family: $font--headline;
  }

  .slogan {
    margin: $base-gap 0 $base-gap*2;
    font-size: 1.6rem;
    line-height: 1.2;
  }
}
