- content_for :navbar do
  = render 'partials/navbar', user_signed_in: user_signed_in?, modifier: ''

.row
  = render 'sidebar'
  .large-9.columns
    .row
      %h1= 'New achievement'

      = render 'form'
